name: Refresh

on:
  schedule:
     - cron: '0 0 * * *' #ogni giorno a mezzanotte

jobs:
  refresh:
    runs-on: ubuntu-latest
    steps:
      - name: Rebuild GitHub pages
        run: |
          curl --fail --request POST \
            --url https://api.github.com/repos/${{ github.repository }}/pages/builds \
            --header "Authorization: Bearer $USER_TOKEN"
        env:
          # You must create a personal token with repo access as GitHub does
          # not yet support server-to-server page builds.
          USER_TOKEN: ${{ secrets.USER_TOKEN }}
